<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fenrir</title>
</head>
<body>
    <p>HEY THIS IS FENRIR</p>
    {% for name in data %}
        <p>{{name}}</p>
    {% endfor %}
    # ENVIRONMENT VARIABLES
    {% for key, value in env.items() %}
    <p>{{key}}: {{value}}</p>
    {% endfor %}
</body>
<style>
    body{
        background-color: #000000;
        color: yellow;
    }
</style>
</html>